.crew-container {
    align-items: flex-end;
    background: url('../../../public/images/crew/background-crew-desktop.jpg') center;
    background-size: cover;
    color: #FFF;
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    padding: 212px 0 0 165px;
    width: 100%;

    .crew-left-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 120px;

        .crew-page-title {
            font-size: 28px;
            font-weight: 400;

            .crew-page-number {
                color: #FFFFFF80;
                margin-right: 24px;
            }
        }

        .crew-info-container {
            margin-top: 155px;

            .crew-mate-title {
                color: #FFFFFF80;
                font: 400 32px/1.5 "Bellefair", serif;
                text-transform: uppercase;
            }

            .crew-mate-name {
                font: 400 56px "Bellefair", serif;
                margin-top: 15px;
                text-transform: uppercase;
            }

            .crew-mate-description {
                color: #D2D8F9;
                font: 400 18px/1.77 "Barlow", sans-serif;
                margin-top: 27px;
                max-width: 445px;
            }
        }

        .crew-checkboxes {
            align-items: center;
            display: flex;
            margin-top: 120px;
            gap: 24px;

            .checkbox-span {
                background-color: #FFFFFF30;
                border-radius: 50%;
                display: inline-block;
                height: 15px;
                width: 15px;

                &.checkbox-span-active {
                    background-color: #FFFFFF;
                }
            }
        }
    }

    .crew-right-section {

        .crew-mate-image {
            height: 712px;
            margin: 0 auto;
            width: 568px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .crew-container {
        align-items: center;
        background: url('../../../public/images/crew/background-crew-tablet.jpg') center;
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column;
        text-align: center;
        padding: 136px 0 0 0;

        .crew-left-section {
            padding-bottom: 0;

            .crew-page-title {
                font-size: 24px;
                padding-left: 30px;
                text-align: left;

                .crew-page-number {
                    margin-right: 16px;
                }
            }

            .crew-info-container {
                margin-top: 60px;

                .crew-mate-title {
                    font-size: 24px;
                }

                .crew-mate-name {
                    font-size: 40px;
                    margin-top: 8px;
                }

                .crew-mate-description {
                    font-size: 16px;
                    margin: 16px auto 0;
                    max-width: 458px;
                }
            }

            .crew-checkboxes {
                justify-content: center;
                margin-top: 40px;
            }
        }

        .crew-right-section {

            .crew-mate-image {
                height: 572px;
                margin-top: 40px;
                width: 456px;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .crew-container {
        background: url('../../../public/images/crew/background-crew-mobile.jpg') center;
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column-reverse;
        justify-content: start;
        padding: 0;
        position: relative;

        .crew-left-section {
            flex-direction: column-reverse;
            margin-top: 32px;
            max-width: 327px;
            padding-bottom: 0;

            .crew-page-title {
                padding-left: 0;
                position: absolute;
                left: -50px;
                top: -300px;
            }

            .crew-info-container {
                margin-top: 0;

                .crew-mate-title {
                    font-size: 16px;
                }

                .crew-mate-name {
                    font-size: 24px;
                }

                .crew-mate-description {
                    font-size: 15px;
                    margin: 16px auto 0;
                    max-width: 458px;
                }
            }

            .crew-checkboxes {
                align-items: flex-start;
                height: 42px;
                justify-content: center;
                margin-top: 0;
            }
        }

        .crew-right-section {
            border-bottom: 1px solid #FFFFFF80;
            height: 222px;
            margin-top: 140px;
            width: 327px;

            .crew-mate-image {
                height: 222px;
                margin-top: 0;
                width: 177px;
            }
        }
    }
}